body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

/* header section style */
header{
    max-width: 1600px;
    height: 92px;
    padding: 16px 120px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-box img{
   width: 139px;
   height: 60px;
}

/* navs style */
nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

/* buttons style */
.primary-btn{
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
.secondary-btn{
    border: #ffffff solid 2px;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
.round-btn{
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    color: #30B868;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}

/* main section styles*/
main{
    max-width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner-section{
    width: 100%;
    background-image: url(../images/hero-bg.png);
    background-size: contain;
    background-position: center;
    padding: 115.5px 415px 179.5px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.banner-content{
    text-align: center;
    max-width: 700px;
    text-wrap: wrap;
}
.banner-heading{
    font-size: 4em;
    font-weight: bolder;
    color: #ffffff;
    margin: 16px auto;
    margin-top: 44px;

}
.text-green{
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}
.button-box{
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* notes section styles */
.notes-section{
    padding: 0 120px;
    text-align: center;
}
.section-heading{
    font-size: 3.25em;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 0;
}
.notes-info p, .note-card p, .brain-text p, .ready-section p{
    font-size: 16px;
    color: #627382;
}
.cards-container{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}
.note-card{
    width: 322px;
    height: 300px;
    justify-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    padding:69.5px 24px 21px;
    box-sizing: border-box;
}
.note-card img{
    shape-image-threshold: calc();
}
.note-card h3{
    font-size: 24px;
    font-weight: 500px;
    color:#001931;
}
.card-img-div{
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95555;
    border-radius: 100%;
    margin-bottom: 16px;
}
.card-img-div img{
    width: 32px;
    height: 32px;
    display: block;
}

/* brain section styles */
.brain-section{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 120px;
    margin-top: 120px;
}
.brain-text p.text-green{
    font-size: 16px; 
    color: #30B868; 
}
.brain-text ul{
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
}
.brain-text ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    margin-left: 0;
}
.section-image-div{
    width: 600px;
    height: 600px;
    aspect-ratio: 1/1;
}
.section-image-div img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

/* ready section styles */
.ready-section{
    background-color: #F7F6F2;
    padding: 80px 40px;
    justify-items: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: 120px 120px 0;
}
.ready-text{
    max-width: 580px;
    box-sizing: border-box;
    text-wrap: wrap;
    text-align: center;
}
.ready-text h1{
    font-size: 2.5em;
}

/* footer styles */
footer{
    background-color: #001931;
    height: 347px;
    padding: 120px 240px 0px 120px;
    text-align: center;
    margin-top: 120px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    height: 64px;
}
.social-links-box h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 400;
}   
.social-icons {
    display: flex;
    gap: 16px;
}
.social-icons a {
    width: 20px;
    height: 20px;
    border-radius: 50%;           
    background-color: #f1f1f1;    
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 4px;
}
.social-icons a i {
    color: #1a1a1a;              
    font-size: 16px;
}
footer hr{
    border: 0.1px solid #627382;
    margin: 80px 0 24px;
}
footer p{
    color: #FAFAFA;
    font-size: 16px;
}